/* 
colours:
- Primary: #f6f4eb
- Headings: #4682a9
- Subheading: #749BC2
- Text: #91C8E4

*/

body {
  background-color: #f6f4eb;
  color: white;
  font-family: "Inter", sans-serif;
}

/*----- reusable -----*/

.sub_headings {
  color: #4682a9;
  font-size: 40px;
}

main {
  padding: 0;
  margin: auto;
  max-width: 1280px;
}

/*----- HEADER -----*/

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 6fr 4fr;
  background-color: #91c8e4;
}

header h1 {
  font-weight: bold;
  margin-left: 40px;
  color: #f6f4eb;
}

#developer {
  color: #4682a9;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

nav a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  justify-self: center;
}

nav a:link {
  color: #f6f4eb;
}

nav a:visited {
  color: #f6f4eb;
}

nav a:hover {
  color: #4682a9;
  transition: 0.2s;
}

nav a:active {
  color: #4682a9;
}

/*----- Amaan typewriter -----*/

#amaan_typewrite {
  margin-top: 80px;
  font-family: "Handjet", cursive;
  font-size: 120px;

  text-align: center;
}

#amaan_typewrite p {
  color: #91c8e4;
  display: inline-block;
  overflow: hidden;
  border-right: 0.1em solid #4682a9;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #91c8e4;
  }
}

#amaan_typewrite span {
  color: #4682a9;
}

/*----- ABOUT ME -----*/

#about_me_section {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

#my_info {
  display: grid;
}

#profile_pic {
  border-radius: 130px;
  width: 250px;
  height: 250px;
  justify-self: center;
  align-self: center;
}

#about_me {
  display: grid;
}

#about_me h2 {
  color: #4682a9;
  justify-self: center;
  align-self: center;
}

#about_me p {
  line-height: 1.5;
  letter-spacing: 1px;
  margin-right: 15px;
  margin-left: 15px;
  justify-self: center;
  align-self: center;

  color: #91c8e4;
}

/*----- My skills -----*/

#technical_skills_heading {
  margin-bottom: 60px;
}

#my_skills {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
}

#my_skills h2 {
  justify-self: center;
}

#tech_skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.tech_skills_box {
  height: 250px;
  border-radius: 20px;
  text-align: center;
  color: #f6f4eb;

  background-image: linear-gradient(#4682a9, #91c8e4);
}

.tech_skills_box ul {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

.tech_skills_box li {
  margin-bottom: 10px;
}

.tech_skills_box li:before {
  content: "\1F4BB";
  /* "\1F95E"; */
  margin-left: -55px;
  margin-right: 10px;
}

/*----- My projects -----*/

#my_projects {
  display: grid;
  gap: 40px;
}

#my_projects h2 {
  justify-self: center;
}

.projects_single {
  border-radius: 20px;
  justify-self: center;
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 4fr;

  background-image: linear-gradient(#4682a9, #91c8e4);
  color: #f6f4eb;
}

.projects_single img {
  margin: 20px;
  border-radius: 10px;
}

.project_bio {
  display: inline-grid;
  margin-right: 20px;
  margin-bottom: 20px;
}

.project_bio h3 {
  color: #9640e5;
}

.project_bio p {
  justify-self: Left;
}

.project_bio span {
  font-weight: bold;
}

.buttons_container {
  justify-self: center;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;

  background-color: #749bc2;
  color: #f6f4eb;
  border-color: #f6f4eb;

  font-size: 16px;
  font-weight: bold;

  border-radius: 10px;
}

/*----- Contact me -----*/

footer {
  background-color: #91c8e4;
  margin-left: -8px;
  margin-right: -8px;
}

#contact_heading {
  text-align: center;
  color: #f6f4eb;
  text-decoration: underline;
  text-decoration-color: #4682a9;
  padding-top: 20px;
}

footer form {
  display: inline-grid;

  gap: 20px;
}

footer form input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

footer form button {
  width: 80px;
  height: 40px;

  background-color: #749bc2;
  color: #f6f4eb;
  border-color: #f6f4eb;

  font-size: 16px;
  font-weight: bold;

  border-radius: 10px;

  margin-bottom: 20px;

  justify-self: center;
}

#form_container {
  display: block;
  text-align: center;
}
